{% load i18n %}
{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your Civic Zone Solution account.

Please click the following link to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If the link above doesn't work, copy and paste this URL into your browser:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username: {{ user.get_username }}

This link will expire in 7 days for security reasons.

If you didn't request this password reset, please ignore this email.

Best regards,
Civic Zone Solution Team
{% endautoescape %}